* {
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #535870;
  padding: 0 2vw;

  h1 {
    font-size: 20px;
    margin: 0.6em 0;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 32px;

    margin: 0.55em 0;
    padding: 0;

    li {
      list-style: none;
      }

    .theme-switch {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 8px;

      border: 2px solid #848aa6;
      border-radius: 24px;
      cursor: pointer;
      padding: 4px 12px 4px 8px;

      img {
        border: 2px solid #535870;
        border-radius: 18px;
        padding: 3px;
      }

      p {
        font-weight: 500;
        margin: 0;
      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}



.main {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;

  .canvas-panel {
    display: flex;
    align-items: center;
    flex: 7 1 auto;
    justify-content: center;
    min-width: 320px;
    padding: 10px;

    .canvas {
      display: flex;
      flex: 0 1 960px;
      flex-wrap: wrap;

      aspect-ratio: 1 / 1;

      div {
        border: 1px solid rgb(232, 232, 232);

        aspect-ratio: 1 / 1;
        background-color: white;
      }
    }
  }

  .editor-panel {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;

    border-left: 1px solid #535870;
    border-top: 1px solid #535870;
    margin-left: -1px;
    margin-top: -1px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      padding: 10px 20px;
      text-align: center;
    }

    .ribbon {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      h3 {
        border-top: 1px solid #535870;
        border-bottom: 1px solid #535870;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 10px 20px;
      }

      div {
        flex: 1 0 0;

        padding: 20px 30px;
      }
    }

    #canvas-settings {
      div {
        display: flex;
        gap: 12px;

        label {
          padding-top: 2px;
        }

        div {
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          align-items: center;
          gap: 2px;

          padding: 0;

          input {
            border: 1px solid #848aa6;
            border-radius: 15px;
            height: 1.8em; 
            text-align: center;
            width: 8em;
          }
          input:focus {
            border: 3px solid #819eff;
            outline: 1px solid #FFFFFF;
          }

          p {
            font-size: 0.9em;
            margin: 0;
          }
        }
      }
    }
  }
}



footer {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  border-top: 1px solid #535870;

  p {
    font-size: 14px;
    margin: 1em 0;
  }
}



body.dark {
  header {
    background-color: #12152F;
    h1 {
      a {
        color: #E9EBF5;
      }
    }
    a {
      color: #aab7e1;
    }
    a:hover {
      color: #5b81ff;
    }
    .theme-switch {
      background-color: #2d3552;
      img {
        background-color: #1d2145;
      }
      p {
        color: #c1cceb;
      }
    }
    .theme-switch:hover {
      background-color: #272d42;
      p {
        color: #aebde8;
      }
    }
  }

  .main {
    .canvas-panel {
      background-color: #1A1F33;
      .canvas {
        background-color: #1A1F33;
        box-shadow: 1px 1px 16px rgba(83, 80, 255, 0.6);
      }
    }
    .editor-panel {
      h2 {
        background-color: #20263D;
        color: #E9EBF5;
      }
      .ribbon {
        h3 {
          background-color: #2B3352;
          color: #C7CEEA;
        }
        div {
          background-color: #20263D;
          color: #9AA3C4;
        }
      }
      #canvas-settings {
        div {
          input:focus {
            border: 3px solid #9cb7f4;
          }
        }
      }
    }
  }

  footer {
    background-color: #12152F;
    p {
      color: #7f7aa1;
    }
  }
}



body.light {
  header {
    background-color: #F3D9E4;
    h1 {
      a {
        color: #824e6c;
      }
    }
    a {
      color: #C24A80;
    }
    a:hover {
      color: #953661;
    }
    .theme-switch {
      background-color: #fdf0f8;
      img {
        background-color: #F3D9E4;
      }
      p {
        color: #d35890;
      }
    }
    .theme-switch:hover {
      background-color: #e9d8e2;
      p {
        color: #ab517a;
      }
    }
  }

  .main {
    .canvas-panel {
      background-color: #FBEFF3;
      .canvas {
        background-color: #FBEFF3;
        box-shadow: 1px 1px 16px rgba(162, 72, 159, 0.6);
      }
    }
    .editor-panel {
      h2 {
        background-color: #F6E3EB;
        color: #3A2230;
      }
      .ribbon {
        h3 {
          background-color: #EFC9D9;
          color: #5A2E42;
        }
        div {
          background-color: #F6E3EB;
          color: #6E5560;
        }
      }
      #canvas-settings {
        div {
          input:focus {
            border: 3px solid #e599e1;
          }
        }
      }
    }
  }

  footer {
    background-color: #F3D9E4;
    p {
      color: #97727f;
    }
  }
}